@{
    ViewBag.title = "Education";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <h4>BSC</h4>
            <p>Department: CSE</p>
            <p>CGPA: 3.35</p>
            <p>Semester: 11</p>
            <p>Year:19 batch</p>
        </div>
        <div>
            <h3>SSC</h3>
            <p>Institution: Tongi pilot school and girls college</p>
            <p>Year: 2017</p>            
        </div>
        <div>
            <h3>HSC</h3>
            <p>Institution: Uttara Eminence college</p>
            <p>Year: 2019</p>
        </div>
    </div>
</body>
</html>