@{
    ViewBag.title = "Reference";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Reference</h2>
        Adv. .net faculty: Tanvir Ahmed
    </div>
</body>
</html>
